<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>Контроллер пути по координатам</h1>


<table>
    <tr>
        <th>N</th>
        <th>Имя файла</th>
        <th>Путь</th>
    </tr>
    <tr th:each="p: ${home}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.file}"></td>
        <td th:text="${p.way}"></td>
    </tr>
</table>

<h2>Введите ссылку на файл</h2>
<h4>(ссылка должна иметь вид: "D:\File\nmea.log")</h4>
<form action="/coordinates" method="post">
    URL: <input type="text" name="URL"><br/>
    <button type="submit">Enter</button>
</form>
</body>
</html>